

<% include header %>

<h1>Login</h1>

<form method="post" action="/cms/add">
  <table>
  <tr>
    <td><label>Name of Event:</label></td>
    <td><input type="text" name="nameOfEvent"></td>
  </tr>
  <tr>
    <td><label>Location:</label></td>
    <td><input type="text" name="location"></td>
  </tr>
  <tr>
    <td><label>From (Date):</label></td>
    <td><input type="text" name="fromDate"></td>
  </tr>
  <tr>
    <td><label>To (Date):</label></td>
    <td><input type="text" name="toDate"></td>
  </tr>
  <tr>
    <td><label>From (time):</label></td>
    <td><input type="text" name="fromTime"></td>
  </tr>
  <tr>
    <td><label>To (time):</label></td>
    <td><input type="text" name="toTime"></td>
  </tr>
  <tr>
    <td><label>Ticket Price:</label></td>
    <td><input type="text" name="ticketPrice"></td>
  </tr>
  <tr>
    <td><label>Description:</label></td>
    <td><input type="text" name="description"></td>
  </tr>
  <tr>
    <td><input type="submit" value="Add"></td>
  </tr>
</form>

<% include footer %>