<!DOCTYPE html>
  <head>
    <link href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css' rel='stylesheet' type='text/css'> 
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css' rel='stylesheet' type='text/css'>
    <link href='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.8/css/bootstrap-switch.css' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css' rel='stylesheet' type='text/css'>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js' type='text/javascript'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js' type='text/javascript'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js' type='text/javascript'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js' type='text/javascript'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.8/js/bootstrap-switch.min.js' type='text/javascript'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js' type='text/javascript'></script>
    <style>

        .indent-small {
            margin-left: 5px;
          }
          .form-group.internal {
            margin-bottom: 0;
          }
          .dialog-panel {
            margin: 10px;
          }
          .datepicker-dropdown {
            z-index: 200 !important;
          }
          .panel-body {
            background: #e5e5e5;
            /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
            /* FF3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
            /* Chrome,Safari4+ */
            background: -webkit-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
            /* Chrome10+,Safari5.1+ */
            background: -o-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
            /* Opera 12+ */
            background: -ms-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
            /* IE10+ */
            background: radial-gradient(ellipse at center, #e5e5e5 0%, #ffffff 100%);
            /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=1);
            /* IE6-9 fallback on horizontal gradient */
            font: 600 15px "Open Sans", Arial, sans-serif;
          }
          label.control-label {
            font-weight: 600;
            color: #777;
          }

    </style>
    <title><%- title %></title>
    <script>
      $(document).ready(function() {  
        $('.multiselect').multiselect();
        $('.datepicker').datepicker();
        $('.timepicker').timepicker();    
      });
    </script>
  </head>
  <body>
    <div class='container'>
      <div class='panel panel-primary dialog-panel'>
        <div class='panel-heading'>
          <h5>Add Events</h5>
        </div>
        <div class='panel-body'>
          <form class='form-horizontal' role='form' action='/cms/add' method='post' >
            <div class='form-group'>
              <label class='control-label col-md-2 col-md-offset-2' for='id_title'>Name of Event:</label>
              <div class='col-md-8'>
                <div class='col-md-3 indent-small'>
                  <div class='form-group internal'>
                    <input class='form-control' id='id_last_name' name="nameOfEvent" placeholder='ex: Christmans Event' type='text' required="true">
                  </div>
                </div>
              </div>
            </div>
            <div class='form-group'>
              <label class='control-label col-md-2 col-md-offset-2' for='id_adults'>Location</label>
              <div class='col-md-6'>
                <div class='form-group'>
                  <div class='col-md-11'>
                    <input class='form-control' id='id_email' placeholder='eg. Frogatan 58' name="location" type='text' required="true">
                  </div>
                </div>
            </div>
            </div> 
            <div class='form-group'>
              <label class='control-label col-md-2 col-md-offset-2' for='id_checkin'>From(date)</label>
              <div class='col-md-8'>
                <div class='col-md-3'>
                  <div class='form-group internal input-group'>
                    <input class='form-control datepicker' name="fromDate" id='id_checkin' required="true">
                    <span class='input-group-addon'>
                      <i class='glyphicon glyphicon-calendar'></i>
                    </span>
                  </div>
                </div>
                <label class='control-label col-md-2' for='id_checkout'>To(date)</label>
                <div class='col-md-3'>
                  <div class='form-group internal input-group'>
                    <input class='form-control datepicker' name="toDate" id='id_checkout' required="true">
                    <span class='input-group-addon'>
                      <i class='glyphicon glyphicon-calendar'></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class='form-group'>
              <label class='control-label col-md-2 col-md-offset-2' for='id_checkin'>From(time)</label>
              <div class='col-md-8'>
                <div class='col-md-3'>
                  <div class='form-group internal input-group'>
                    <input class='form-control timepicker' name="fromTime" id='id_checkin'>
                    <span class='input-group-addon'>
                      <i class='glyphicon glyphicon-calendar'></i>
                    </span>
                  </div>
                </div>
                <label class='control-label col-md-2' for='id_checkout'>To(time)</label>
                <div class='col-md-3'>
                  <div class='form-group internal input-group'>
                    <input class='form-control timepicker' name="toTime" id='id_checkout' required="true">
                    <span class='input-group-addon'>
                      <i class='glyphicon glyphicon-calendar'></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class='form-group'>
              <label class='control-label col-md-2 col-md-offset-2' for='id_email'>Ticket Price(EUR)</label>
              <div class='col-md-6'>
                <div class='form-group'>
                  <div class='col-md-11'>
                    <input class='form-control' id='id_email' placeholder='eg.05.00  06' name="ticketPrice" type='number' required="true">
                  </div>
                </div>
            </div>
            <div class='form-group'>
              <label class='control-label col-md-2 col-md-offset-2' for='id_comments'>Description</label>
              <div class='col-md-6'>
                <textarea class='form-control' id='id_comments' name="description" placeholder='Description of event' rows='3' required="true"></textarea>
              </div>
            </div>
            <div class='form-group'>
              <div class='col-md-offset-4 col-md-3'>
                <button class='btn-lg btn-primary' type='submit'>Add Event</button>
              </div>
              <div class='col-md-3'>
                <button class='btn-lg btn-danger' style='float:right' >Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>